.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}


.nav {
  display: flex;
  align-items: center;
}

.navLink {
  margin: 0 1rem;
  text-decoration: none;
  color: hotpink;
  transition: 0.3s;
}

.navLink:hover {
  font-weight: bold;
}


.active {
  color: hotpink;
  font-weight: bold;
}

/* USER */
.userSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userInfo {
  font-weight: 600;
  color: #333;
}

.userRole {
  font-style: italic;
  color: hotpink;
  margin-left: 0.3rem;
}

.loginBtn {
  background: hotpink;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}


.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 1rem 0;
  }

  .navLink {
    margin: 10px 0;
  }

  .userSection {
    position: absolute;
    top: 180px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    display: none;
    padding-bottom: 1rem;
  }

  .menuOpen {
    display: flex !important;
  }
}
