.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  background: white;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
}


.desktopNav {
  display: flex;
  gap: 20px;
}

.navLink {
  color: hotpink;
  cursor: pointer;
  transition: 0.3s;
}

.navLink:hover {
  font-weight: bold;
}


.desktopUser {
  display: flex;
  align-items: center;
  gap: 10px;
}

.loginBtn {
  background: hotpink;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.userName {
  font-weight: 600;
}


.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
}


.mobileMenu {
  display: none;
}


.divider {
  width: 80%;
  border: 0.5px solid #ddd;
}

.userRole {
  color: hotpink;      
  font-style: italic;
  font-size: 0.85rem;
  margin-left: 5px;
}


@media (max-width: 768px) {
  .desktopNav,
  .desktopUser {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobileMenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }

  .mobileMenu span {
    font-size: 1.1rem;
    cursor: pointer;
    color: hotpink;
  }

  .userInfo {
    text-align: center;
    font-weight: 600;
  }

  .menuOpen {
    display: flex !important;
  }
}
