.trending {
  background: #c3b9f7;
   margin: 2rem auto;
  padding: 2rem 1rem;
  
  text-align: center;
  border-radius: 10px;
}

.trending h2 {
  color: rgb(112, 27, 69);
}

/* Cards container */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: stretch; 
}

/* Card */
.card {
  background: #fff;
  padding: 1rem;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: left;
  transition: box-shadow 0.3s ease;

 
  display: flex;
  flex-direction: column;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media */
.card img,
.card video {
  width: 100%;
  height: 300px;
  object-fit: inherit;   
  border-radius: 0.5rem;
}


.buttons {
  margin-top: auto;   
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

/* Responsive */
@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }
}
