.trending {
  background: #c3b9f7;
   margin: 2rem auto;
  padding: 2rem 1rem;
  text-align: center;
  border-radius: 10px;
}

.trending h2 {
  color: rgb(112, 27, 69);
}


.cards {
   display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.card p {
  color: #444;
  font-size: 0.95rem;
  line-height: 1.4;
  min-height: 60px;
}

.card {
   display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  border-radius: 10px;
  padding: 1rem;
  width: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
  height: 100%;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.card img,
.card video {
  width: 100%;
  height: 300px;
  object-fit: inherit;   
  border-radius: 0.5rem;
}


.buttons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.buttons button {
  flex: 1;
  background: #f0f0f0;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  color: #333;
  transition: background 0.2s;
}

.buttons button:hover {
  background: #e2e2e2;
}


.styles.buttons {
  display: flex;
}




